@using Divar.Db
@using System.Globalization;
@using Divar.ViewModels;
@inject DivarContext _context;
@{
    var categories = _context.Categories.ToList();
    var cities = _context.Cities.ToList();
}

@model HomeEditViewModel;

@*<button class="btn btn-primary d-block" id="btnChangeCulture" onclick="changeCulture()">
    <i class="bi bi-translate"></i>
</button>*@
@*@{
    var newCulture = CultureInfo.CurrentCulture.Name == "en-US" ? "fa-IR" : "en-US";
}
<a class="btn btn-primary" asp-action="ChangeCulture" asp-controller="Add" asp-route-culture="@newCulture">
    <i class="bi bi-translate"></i>
</a>*@
<form asp-controller="Add" asp-action="Index" asp-route-culture="@CultureInfo.CurrentCulture.Name" method="post">
      <table class="border-0 w-100">
        <tr
              <td>
                <label asp-for="@Model.CategoryId" for="CategoryId">@ViewData["CategoryIdAddViewData"]</label>
                <select class="form-select" asp-for="@Model.CategoryId">
                    <!--foreach (var category in ViewData["categories"])-->
                    @foreach (var category in (List<Category>)ViewData["categories"])
                    {
                        <!--
                        if (_context.Categories.Where(cat => cat.ParentId == category.Id).FirstOrDefault() == null)
                        {
                                <option value="category.Id">category.Title</option>
                        }
                        -->
                        @if (_context.Categories.Where(cat => cat.ParentId == category.Id).FirstOrDefault() == null)
                        {
                            <option value="@category.Id">@category.Title</option>
                        }
                    }
                </select>
                <!--
                    <select class="form-select" asp-for="Model.CategoryId">
                    <dl>
                foreach (var category in categories)
                {
                    if (category.ParentId == null)
                    {
                                        <dt>
                                    <option disabled value="category.Id">category.Title</option>
                                    </dt>
                    }
                    else if ((_context.Categories.Where(cat => cat.ParentId == category.Id).ToList()) == null)
                    {
                                    <dd>
                                    <option value="category.Id">category.Title</option>
                                    </dd>
                    }
                    else
                    {
                                    <dd>
                                    <option value="category.Id">category.Title</option>
                                    </dd>
                    }

                }
                    </dl>
                  </select>
                -->
              </td>
        </tr>
        <tr>
            <td>
                <label asp-for="@Model.CityId" for="CityId">@ViewData["CityIdAddViewData"]</label>
                <select class="form-select" asp-for="@Model.CityId">

                    @foreach (var city in cities)
                    {


                        <option value="@city.Id">@city.Name</option>
                    }

                </select>
            </td>
        </tr>
        <tr>

            <td>
                <label asp-for="@Model.Title" for="Title">@ViewData["TitleAddViewData"]</label>
                <input type="text" class="form-control" id="Title" asp-for="@Model.Title" placeholder="">
                <span asp-validation-for="@Model.Title" class="text-danger"></span>
            </td>
        </tr>
        <tr>

            <td>
                <label asp-for="@Model.Description" for="Description">@ViewData["DescriptionAddViewData"]</label>
                <input type="text" class="form-control" id="Description" asp-for="@Model.Description"  placeholder="">
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </td>
        </tr>
          <tr>

              <td>
                <label asp-for="@Model.Brand" for="Brand">@ViewData["BrandAddViewData"]</label>
                <input asp-for="@Model.Brand" type="text" class="form-control" id="Brand" placeholder="">
                <span asp-validation-for="@Model.Brand" class="text-danger"></span>
              </td>
          </tr>
          <tr>

              <td>
                <label asp-for="@Model.ItsModel" for="ItsModel">@ViewData["ItsModelAddViewData"]</label>
                <input asp-for="@Model.ItsModel" type="text" class="form-control" id="ItsModel"  placeholder=" ">
                <span asp-validation-for="@Model.ItsModel" class="text-danger"></span>
              </td>
          </tr>
          <tr>

              <td>
                <label asp-for="@Model.Color" for="Color">@ViewData["ColorAddViewData"]</label>
                <input asp-for="@Model.Color" type="text" class="form-control" id="Color"  placeholder=" ">
                <span asp-validation-for="@Model.Color" class="text-danger"></span>
              </td>
          </tr>
          <tr>

              <td>
                <label asp-for="@Model.FunctionKilometers" for="FunctionKilometers">@ViewData["FunctionKilometersAddViewData"]</label>
                <input asp-for="@Model.FunctionKilometers" type="text" class="form-control" id="FunctionKilometers"  placeholder=" ">
                <span asp-validation-for="@Model.FunctionKilometers" class="text-danger"></span>
              </td>
          </tr>
          <tr>

              <td>
                <label asp-for="@Model.ChassisAndBodyCondition" for="ChassisAndBodyCondition">@ViewData["ChassisAndBodyConditionAddViewData"]</label>
                <input asp-for="@Model.ChassisAndBodyCondition" type="text" class="form-control" id="ChassisAndBodyCondition"  placeholder=" ">
                <span asp-validation-for="@Model.ChassisAndBodyCondition" class="text-danger"></span>
              </td>
          </tr>
          <tr>

              <td>
                <label asp-for="@Model.BasePrice" for="BasePrice">@ViewData["BasePriceAddViewData"]</label>
                <input asp-for="@Model.BasePrice" type="number" class="form-control" id="BasePrice"  placeholder="">
                <span asp-validation-for="@Model.BasePrice" class="text-danger"></span>
          </tr>
          <tr>

              <td>
                <label asp-for="@Model.EngineCondition" for="EngineCondition">@ViewData["EngineConditionAddViewData"]</label>
                <input asp-for="@Model.EngineCondition" type="text" class="form-control" id="EngineCondition" placeholder="">
              </td>
          </tr>
          <tr>

              <td>
                <label asp-for="@Model.RearChassisCondition" for="RearChassisCondition">@ViewData["RearChassisConditionAddViewData"]</label>
                <input asp-for="@Model.RearChassisCondition" type="text" class="form-control" id="RearChassisCondition" placeholder="">
              </td>
          </tr>
          <tr>

              <td>
                <label asp-for="@Model.FrontChassisCondition" for="FrontChassisCondition">@ViewData["FrontChassisConditionAddViewData"]</label>
                <input asp-for="@Model.FrontChassisCondition" type="text" class="form-control" id="FrontChassisCondition" placeholder="">
              </td>
          </tr>
          <tr>

              <td>
                <label asp-for="@Model.ThirdPartyInsuranceTerm" for="ThirdPartyInsuranceTerm">@ViewData["ThirdPartyInsuranceTermAddViewData"]</label>
                <input asp-for="@Model.ThirdPartyInsuranceTerm" type="text" class="form-control" id="ThirdPartyInsuranceTerm" placeholder="">
              </td>
          </tr>
          <tr>

              <td>
                <label asp-for="@Model.Gearbox" for="Gearbox">@ViewData["GearboxAddeViewData"]</label>
                <input asp-for="@Model.Gearbox" type="text" class="form-control" id="Gearbox" placeholder="">
              </td>
          </tr>
          <tr>

              <td>
                <label asp-for="@Model.Nationality" for="Nationality">@ViewData["NationalityAddViewData"]</label>
                <select class="form-select" asp-for="@Model.Nationality" id="Nationality">
                      <option value="ایرانی">ایرانی</option>
                      <option value="اتباع خارجی">اتباع خارجی</option>
                  </select>
              </td>
          </tr>
          <tr>

            <td>
                <label asp-for="@Model.NationalCode" for="NationalCode">@ViewData["NationalCodeAddViewData"]</label>
                <input asp-for="@Model.NationalCode" type="text" class="form-control" id="NationalCode" placeholder="" >
                <span asp-validation-for="@Model.NationalCode" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <input asp-for="@Model.DoYouWantToReplace" class="form-check-input" type="checkbox" id="DoYouWantToReplace">
                <label asp-for="@Model.DoYouWantToReplace" for="DoYouWantToReplace" class="form-check-label">@ViewData["DoYouWantToReplaceAddViewData"]</label>
            </td>
        </tr>
        <tr>
              <td>
                <input asp-for="@Model.IsTheChatActivated" class="form-check-input" type="checkbox" id="IsTheChatActivated">
                <label asp-for="@Model.IsTheChatActivated" for="IsTheChatActivated" class="form-check-label">@ViewData["IsTheChatActivatedAddViewData"]</label>
              </td>
          </tr>
          <tr>
            <td>
                <input asp-for="@Model.IsThePhoneCallActive" class="form-check-input" type="checkbox" id="IsThePhoneCallActive">
                <label asp-for="@Model.IsThePhoneCallActive" for="IsThePhoneCallActive" class="form-check-label">@ViewData["IsThePhoneCallActiveAddViewData"]</label>
            </td>
        </tr>
         @*<tr>

             <td>
                 <input type="hidden" class="form-control" id="Status" asp-for="@Model.Status" placeholder="">
             </td>
         </tr>
         <tr>

             <td>
                 <input type="hidden" class="form-control" id="Status" asp-for="@Model.InsertDate" placeholder="">
             </td>
         </tr>
         <tr>

             <td>
                 <input type="hidden" class="form-control" id="Status" asp-for="@Model.UpdateDate" placeholder="">
             </td>
        </tr>*@
        <tr>
            <td>
                <div class="validation-summary-errors">
                    <asp-validation-summary></asp-validation-summary>
                </div>
            </td>
        </tr>
        <tr class="d-flex justify-content-center">

              <td>
                <button type="submit" class="btn btn-primary" style="float:right;">@ViewData["SubmitAddViewData"]</button>
              </td>
          </tr>

      </table>
  </form>
<script>
    function changeCulture() {
        // ارسال مقدار فرهنگ به جاوااسکریپت
        // var currentCulture = '@CultureInfo.CurrentCulture.Name';

        // مقایسه فرهنگ و تغییر آدرس در صورت نیاز
        // if (currentCulture == "en-US") {
        //     window.location.href = '@Url.Action("ChangeCulture", "Home", new { culture = "fa-IR" })';
        // } else {

        //     window.location.href = '@Url.Action("ChangeCulture", "Home", new { culture = "en-US" })';
        // }



        // ارسال مقدار فرهنگ به جاوااسکریپت
        var currentCulture = '@CultureInfo.CurrentCulture.Name';

        // مقایسه فرهنگ و تغییر آدرس در صورت نیاز
        if (currentCulture == "en-US") {
            window.location.href = '@Url.Action("ChangeCulture", "Add", new { culture = "fa-IR" })';
        } else {

            window.location.href = '@Url.Action("ChangeCulture", "Add", new { culture = "en-US" })';
        }
    }
</script>