@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Divar.Db
@using System.Globalization;
@using Divar.ViewModels;
@using Microsoft.Extensions.Localization;
@inject DivarContext _context;
@inject IStringLocalizer<Divar.Controllers.HomeController> _localizer;
@{
    var categories = _context.Categories.ToList();
    var cities = _context.Cities.ToList();
}

@model HomeEditViewModel;

<!--<button class="btn btn-primary d-block" id="btnChangeCulture" onclick="changeCulture()">
    <i class="bi bi-translate"></i>
</button>-->
<form asp-controller="Home" asp-action="Edit" method="post">
    <table class="border-0 w-100">
        <tr
              <td>
                <label asp-for="@Model.CategoryId" for="CategoryId">@_localizer["CategoryIdHome"]</label>
                <select class="form-select" asp-for="@Model.CategoryId">
                    <!--foreach (var category in ViewData["categories"])-->
                    @foreach (var category in (List<Category>)ViewData["categories"])
                    {
                            <!--
                            if (_context.Categories.Where(cat => cat.ParentId == category.Id).FirstOrDefault() == null)
                            {
                                    <option value="category.Id">category.Title</option>
                            }
                            -->
                        @if (_context.Categories.Where(cat => cat.ParentId == category.Id).FirstOrDefault() == null)
                        {
                                    <option value="@category.Id">@category.Title</option>
                        }
                    }
                </select>
                <!--
                    <select class="form-select" asp-for="Model.CategoryId">
                    <dl>
                foreach (var category in categories)
                {
                    if (category.ParentId == null)
                    {
                                        <dt>
                                    <option disabled value="category.Id">category.Title</option>
                                    </dt>
                    }
                    else if ((_context.Categories.Where(cat => cat.ParentId == category.Id).ToList()) == null)
                    {
                                    <dd>
                                    <option value="category.Id">category.Title</option>
                                    </dd>
                    }
                    else
                    {
                                    <dd>
                                    <option value="category.Id">category.Title</option>
                                    </dd>
                    }

                }
                    </dl>
                  </select>
                -->
              </td>
        </tr>
        <tr>
            <td>
                <label asp-for="@Model.CityId" for="CityId">@_localizer["CityIdHome"]</label>
                <select class="form-select" asp-for="@Model.CityId">

                    @foreach (var city in cities)
                    {


                        <option value="@city.Id">@city.Name</option>
                    }

                </select>
            </td>
        </tr>
        <tr>

            <td>
                <label asp-for="@Model.Title" for="Title">@_localizer["TitleHome"]</label>
                <input type="text" class="form-control" id="Title" asp-for="@Model.Title" placeholder="" required>
                <span asp-validation-for="@Model.Title" class="text-danger"></span>
            </td>
        </tr>
        <tr>

            <td>
                <label asp-for="@Model.Description" for="Description">@_localizer["DescriptionHome"]</label>
                <input type="text" class="form-control" id="Description" asp-for="@Model.Description" required placeholder="">
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </td>
        </tr>
        <tr>

            <td>
                <label asp-for="@Model.Brand" for="Brand">@_localizer["BrandHome"]</label>
                <input asp-for="@Model.Brand" type="text" class="form-control" id="Brand" required placeholder="">
                <span asp-validation-for="@Model.Brand" class="text-danger"></span>
            </td>
        </tr>
        <tr>

            <td>
                <label asp-for="@Model.ItsModel" for="ItsModel">@_localizer["ItsModelHome"]</label>
                <input asp-for="@Model.ItsModel" type="text" class="form-control" id="ItsModel" required placeholder=" ">
                <span asp-validation-for="@Model.ItsModel" class="text-danger"></span>
            </td>
        </tr>
        <tr>

            <td>
                <label asp-for="@Model.Color" for="Color">@_localizer["ColorHome"]</label>
                <input asp-for="@Model.Color" type="text" class="form-control" id="Color" required placeholder=" ">
                <span asp-validation-for="@Model.Color" class="text-danger"></span>
            </td>
        </tr>
        <tr>

            <td>
                <label asp-for="@Model.FunctionKilometers" for="FunctionKilometers">@_localizer["FunctionKilometersHome"]</label>
                <input asp-for="@Model.FunctionKilometers" type="text" class="form-control" id="FunctionKilometers" required placeholder=" ">
                <span asp-validation-for="@Model.FunctionKilometers" class="text-danger"></span>
            </td>
        </tr>
        <tr>

            <td>
                <label asp-for="@Model.ChassisAndBodyCondition" for="ChassisAndBodyCondition">@_localizer["ChassisAndBodyConditionHome"]</label>
                <input asp-for="@Model.ChassisAndBodyCondition" type="text" class="form-control" id="ChassisAndBodyCondition" required placeholder=" ">
                <span asp-validation-for="@Model.ChassisAndBodyCondition" class="text-danger"></span>
            </td>
        </tr>
        <tr>

            <td>
                <label asp-for="@Model.BasePrice" for="BasePrice">@_localizer["BasePriceHome"]</label>
                <input asp-for="@Model.BasePrice" type="number" class="form-control" id="BasePrice" required placeholder="">
                <span asp-validation-for="@Model.BasePrice" class="text-danger"></span>
        </tr>
        <tr>

            <td>
                <label asp-for="@Model.EngineCondition" for="EngineCondition">@_localizer["EngineConditionHome"]</label>
                <input asp-for="@Model.EngineCondition" type="text" class="form-control" id="EngineCondition" placeholder="">
            </td>
        </tr>
        <tr>

            <td>
                <label asp-for="@Model.RearChassisCondition" for="RearChassisCondition">@_localizer["RearChassisConditionHome"]</label>
                <input asp-for="@Model.RearChassisCondition" type="text" class="form-control" id="RearChassisCondition" placeholder="">
            </td>
        </tr>
        <tr>

            <td>
                <label asp-for="@Model.FrontChassisCondition" for="FrontChassisCondition">@_localizer["FrontChassisConditionHome"]</label>
                <input asp-for="@Model.FrontChassisCondition" type="text" class="form-control" id="FrontChassisCondition" placeholder="">
            </td>
        </tr>
        <tr>

            <td>
                <label asp-for="@Model.ThirdPartyInsuranceTerm" for="ThirdPartyInsuranceTerm">@_localizer["ThirdPartyInsuranceTermHome"]</label>
                <input asp-for="@Model.ThirdPartyInsuranceTerm" type="text" class="form-control" id="ThirdPartyInsuranceTerm" placeholder="">
            </td>
        </tr>
        <tr>

            <td>
                <label asp-for="@Model.Gearbox" for="Gearbox">@_localizer["GearboxHome"]</label>
                <input asp-for="@Model.Gearbox" type="text" class="form-control" id="Gearbox" placeholder="">
            </td>
        </tr>
        <tr>

            <td>
                <label asp-for="@Model.Nationality" for="Nationality">@_localizer["NationalityHome"]</label>
                <select class="form-select" asp-for="@Model.Nationality" id="Nationality">
                    <option value="ایرانی">ایرانی</option>
                    <option value="اتباع خارجی">اتباع خارجی</option>
                </select>
            </td>
        </tr>
        <tr>

            <td>
                <label asp-for="@Model.NationalCode" for="NationalCode">@_localizer["NationalCodeHome"]</label>
                <input asp-for="@Model.NationalCode" type="text" class="form-control" id="NationalCode" placeholder="" required>
                <span asp-validation-for="@Model.NationalCode" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <input asp-for="@Model.DoYouWantToReplace" class="form-check-input" type="checkbox" id="DoYouWantToReplace">
                <label asp-for="@Model.DoYouWantToReplace" for="DoYouWantToReplace" class="form-check-label">@_localizer["DoYouWantToReplaceHome"]</label>
            </td>
        </tr>
        <tr>
            <td>
                <input asp-for="@Model.IsTheChatActivated" class="form-check-input" type="checkbox" id="IsTheChatActivated">
                <label asp-for="@Model.IsTheChatActivated" for="IsTheChatActivated" class="form-check-label">@_localizer["IsTheChatActivatedHome"]</label>
            </td>
        </tr>
        <tr>
            <td>
                <input asp-for="@Model.IsThePhoneCallActive" class="form-check-input" type="checkbox" id="IsThePhoneCallActive">
                <label asp-for="@Model.IsThePhoneCallActive" for="IsThePhoneCallActive" class="form-check-label">@_localizer["IsThePhoneCallActiveHome"]</label>
            </td>
        </tr>
        @*<tr>

        <td>
        <input type="hidden" class="form-control" id="Status" asp-for="@Model.Status" placeholder="">
        </td>
        </tr>*@
        <tr>

        <td>
        <input type="hidden" class="form-control" id="Status" asp-for="@Model.InsertDate" placeholder="">
        </td>
        </tr>
        <tr>

        <td>
        <input type="hidden" class="form-control" id="Status" asp-for="@Model.UpdateDate" placeholder="">
        </td>
        </tr>
        <tr>
            <td>
                <div class="validation-summary-errors">
                    <asp-validation-summary></asp-validation-summary>
                </div>
            </td>
        </tr>
        <tr class="d-flex justify-content-center">

            <td>
                <button type="submit" class="btn btn-primary" style="float:right;">@_localizer["SubmitHome"]</button>
            </td>
        </tr>

    </table>
</form>
<!--<script>
    function changeCulture() {
        // ارسال مقدار فرهنگ به جاوااسکریپت
        // var currentCulture = '@CultureInfo.CurrentCulture.Name';

        // مقایسه فرهنگ و تغییر آدرس در صورت نیاز
        // if (currentCulture == "en-US") {
        //     window.location.href = '@Url.Action("ChangeCulture", "Home", new { culture = "fa-IR" })';
        // } else {

        //     window.location.href = '@Url.Action("ChangeCulture", "Home", new { culture = "en-US" })';
        // }



        // ارسال مقدار فرهنگ به جاوااسکریپت
        var currentCulture = '@CultureInfo.CurrentCulture.Name';

        // مقایسه فرهنگ و تغییر آدرس در صورت نیاز
        if (currentCulture == "en-US") {
            window.location.href = '@Url.Action("ChangeCulture", "Add", new { culture = "fa-IR" })';
        } else {

            window.location.href = '@Url.Action("ChangeCulture", "Add", new { culture = "en-US" })';
        }
    }
</script>-->
