@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="HomeSearch" method="post">
    <div class="d-flex">
        <input value="@ViewData["serach"]" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="SearchString">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
</form>

<div class="row">
    @foreach (var ad in Model)
    {
        <div class="col-6 border border-primary bg-info">
            <p>@ViewData["AdvertisementTitleHomeViewData"] @ad.Title</p>
            <p>@ViewData["AdvertisementColorHomeViewData"] @ad.Color</p>
            <p>@ViewData["AdvertisementBasePriceHomeViewData"] @ad.BasePrice</p>
            <p>@ViewData["AdvertisementFunctionKilometersHomeViewData"] @ad.FunctionKilometers</p>
  <!--
                          <p>
            ad.Category
                      </p>
  -->
        </div>
    }
</div> 