@{
    ViewData["Title"] = "Home Page";
}
@using Divar.Db;
@inject DivarContext _context;


<form asp-controller="Home" asp-action="HomeSearch" method="post">
    <div class="d-flex">
        <input value="@ViewData["serach"]" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="SearchString">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
</form>

<div class="row mt-4">
    @foreach (var ad in Model)
    {
        <div class="col-6 border border-primary bg-info">
            <p>@ViewData["TitleHomeViewData"] @ad.Title</p>
            <p>@ViewData["ColorHomeViewData"] @ad.Color</p>
            <p>@ViewData["BasePriceHomeViewData"] @ad.BasePrice</p>
            <p>@ViewData["FunctionKilometersHomeViewData"] @ad.FunctionKilometers</p>

            <p>
                @ViewData["CityHomeViewData"]
                @ViewData["city" + ad.Id.ToString()]
            </p>

            <nav style="--bs-breadcrumb-divider: '<';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    @foreach (var b in ViewData["breadcrumbs" + ad.Id.ToString()])
                    {
                        <li class="breadcrumb-item">@b.Title</li>
                    }
                    
                </ol>
            </nav>
        </div>
    }
</div> 