@{
    ViewData["Title"] = "Home Page";
}
@using Divar.Db;

@using System.Globalization;

@inject DivarContext _context;

<button class="btn btn-primary d-block" id="btnChangeCulture" onclick="changeCulture()">
    <i class="bi bi-translate"></i>
</button>


<span>@ViewData["currentDate"]</span>

@* <form asp-controller="Home" asp-action="HomeSearch" method="post">  *@
<form asp-controller="Home" asp-action="Index" method="post" onsubmit="keepCultureSearch()">
    <div class="d-flex">
        <input value="@ViewData["serach"]" class="form-control me-2" type="search" placeholder="@ViewData["SearchHomeViewData"]" aria-label="Search" name="SearchString">
        <input type="hidden" name="culture" value="@CultureInfo.CurrentCulture.Name" />
        <button class="btn btn-outline-success" type="submit">@ViewData["SearchHomeViewData"]</button>
    </div>
</form>

<div class="row mt-4">
    @foreach (var ad in Model)
    {
        <div class="col-6 border border-primary bg-info">
            <p>@ViewData["TitleHomeViewData"] @ad.Title</p>
            <p>@ViewData["ColorHomeViewData"] @ad.Color</p>
            <p>@ViewData["BasePriceHomeViewData"] @ad.BasePrice</p>
            <p>@ViewData["FunctionKilometersHomeViewData"] @ad.FunctionKilometers</p>

            <p>
                @ViewData["CityHomeViewData"]
                @ViewData["city" + ad.Id.ToString()]
            </p>

            <nav style="--bs-breadcrumb-divider: '<';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    @foreach (var b in ViewData["breadcrumbs" + ad.Id.ToString()])
                    {
                        <li class="breadcrumb-item">@b.Title</li>
                    }
                    
                </ol>
            </nav>
        </div>
    }
</div>
<!--<table style="border:none">
    <tr>
        <td>
            <label for="CategoryId">ViewData["CategoryIdAddViewData"]</label>
            <select class="form-select">
                foreach (var category in (List<Category>)ViewData["categories"])
                {

                    if (_context.Categories.Where(cat => cat.ParentId == category.Id).FirstOrDefault() == null)
                    {
                        <option value="category.Id">category.Title</option>
                    }
                }
            </select>
          

        </td>
    </tr>
-->

<script>
    function changeCulture() {
        // ارسال مقدار فرهنگ به جاوااسکریپت
        var currentCulture = '@CultureInfo.CurrentCulture.Name';

        // مقایسه فرهنگ و تغییر آدرس در صورت نیاز
        if (currentCulture == "en-US") {
            window.location.href = '@Url.Action("ChangeCulture", "Home", new { culture = "fa-IR" })';
        } else {

            window.location.href = '@Url.Action("ChangeCulture", "Home", new { culture = "en-US" })';
        }


        // window.location.href = 'Url.Action("ChangeCulture", "Home")?culture=' + culture;
       
 
    }

    function keepCultureSearch() {

        // ارسال مقدار فرهنگ به جاوااسکریپت
        var currentCulture = '@CultureInfo.CurrentCulture.Name';

        // مقایسه فرهنگ و تغییر آدرس در صورت نیاز
        if (currentCulture == "fa-IR") {
            CultureInfo.CurrentCulture = new CultureInfo("fa-IR");
            CultureInfo.CurrentUICulture = new CultureInfo("fa-IR");
            // Console.WriteLine("hi");
        } 
    }
</script>
