@{
    ViewData["Title"] = "Home Page";
}
@using Divar.Db;
@inject DivarContext _context;

<span>@ViewData["currentDate"]</span>

<form asp-controller="Home" asp-action="HomeSearch" method="post">
    <div class="d-flex">
        <input value="@ViewData["serach"]" class="form-control me-2" type="search" placeholder="@ViewData["SearchHomeViewData"]" aria-label="Search" name="SearchString">
        <button class="btn btn-outline-success" type="submit">@ViewData["SearchHomeViewData"]</button>
    </div>
</form>

<div class="row mt-4">
    @foreach (var ad in Model)
    {
        <div class="col-6 border border-primary bg-info">
            <p>@ViewData["TitleHomeViewData"] @ad.Title</p>
            <p>@ViewData["ColorHomeViewData"] @ad.Color</p>
            <p>@ViewData["BasePriceHomeViewData"] @ad.BasePrice</p>
            <p>@ViewData["FunctionKilometersHomeViewData"] @ad.FunctionKilometers</p>

            <p>
                @ViewData["CityHomeViewData"]
                @ViewData["city" + ad.Id.ToString()]
            </p>

            <nav style="--bs-breadcrumb-divider: '<';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    @foreach (var b in ViewData["breadcrumbs" + ad.Id.ToString()])
                    {
                        <li class="breadcrumb-item">@b.Title</li>
                    }
                    
                </ol>
            </nav>
        </div>
    }
</div>
<!--<table style="border:none">
    <tr>
        <td>
            <label for="CategoryId">ViewData["CategoryIdAddViewData"]</label>
            <select class="form-select">
                foreach (var category in (List<Category>)ViewData["categories"])
                {

                    if (_context.Categories.Where(cat => cat.ParentId == category.Id).FirstOrDefault() == null)
                    {
                        <option value="category.Id">category.Title</option>
                    }
                }
            </select>
          

        </td>
    </tr>
-->
